{namespace yag=Tx_Yag_ViewHelpers}
<f:layout name="Default" />
<f:section name="main">
    <yag:Javascript.template templatePath="EXT:yag/Resources/Private/JSTemplates/FancyBox.js" arguments="{yagSettings: '{yag:Javascript.JsonSettings(tsPath:\'fancybox\', onlyKeyValuePairs:1)}'}"/>

    <div class="tx-yag-theme-ttnews-imagecontainer">
        <f:for each="{listData}" key="rowIndex" as="listRow">
            <f:render partial="{config.itemListConfig.imageThumbPartial}"
                arguments="{config: config, image: listRow.image.value,
                    rowIndex: listRow.specialValues.absoluteRowIndex,
                    pager: pager, pagerCollection:pagerCollection}" />
        </f:for>
    </div>

	<f:if condition="{config.settings.itemList.showPager}">
		<div class="tx-yag-pager">
			<f:render partial="{config.itemListConfig.pagerPartial}" arguments="{action: 'list', controller: 'ItemList', pager: pager, pagerCollection: pagerCollection, itemsText: '{f:translate(key:\'tx_yag_domain_model_album.items\')}'}" />
		</div>
    </f:if>
</f:section>