{namespace yag=Tx_Yag_ViewHelpers}

<f:if condition="{image.width} > {image.height}">
	<div class="tx-yag-theme-ttnews-thumb tx-yag-theme-ttnews-thumb-landscape">
</f:if>
<f:if condition="{image.width} < {image.height}">
	<div class="tx-yag-theme-ttnews-thumb tx-yag-theme-ttnews-thumb-portrait">
</f:if>
<f:if condition="{image.width} == {image.height}">
	<div class="tx-yag-theme-ttnews-thumb tx-yag-theme-ttnews-thumb-square">
</f:if>
    <a href="{yag:resource.image(item: image, resolutionName: 'medium')}"
					id="yag_{image.uid}"
			   		class="fancybox"
					rel="album_{image.album.uid}"
					title="{f:if(condition:config.settings.item.showTitle, then:'<span>{image.title}</span>', else:'')}
						   {f:if(condition:config.settings.item.showDescription, then:'<p>{image.description}</p>', else:'')}
						">
					<yag:image item="{image}" resolutionName="thumb" alt="{image.title}"/>
	</a>
	<ul>
		<li class="tx-yag-theme-ttnews-thumb-title">{image.title}</li>
	</ul>
</div>